
a {
    text-decoration: none;
    font-weight: 500;     
}


header {
    color:white;
    padding: 0.5rem;
    margin:auto;
}

/* header:hover {
    color: #F5F5F5;
    background-color: blue;
} */

.main-toolbar {
    background-color: #071a3D;
}