

.container {
  display: flex;
  height:100%;
}

.world-map-container {
  flex: 1; /* Div prendra le reste de l'espace disponible */
  background-color: #cce4eb;
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100%; */
}

.country-info {
  width: 300px;
  padding: 1rem;
}

.item-country-info {
  font-weight: 600;
  height:100%;
  height: 2rem !important;
}


.list-buttons-map {
  display: table-cell;
}

.btn-toggle-display {
  color: #3D5A80 !important;
  background-color: white !important;
  border: 1px solid #3D5A80;
  width:120px;
  height: 50px;
}

.btn-toggle-display.selected {
  color: white !important;
  background-color: #3D5A80 !important;
  border: 1px solid #3D5A80;
}

.country-info-title {
  font-size: 1.5rem;
  font-weight: 100;
}
/* .population {
  background-image: linear-gradient(d3.schemeBlues[9]);
} */

.btn-toggle-display:hover {
  cursor:pointer;
  background-color: #DCDCDCDC;
}

.form-country-info {
  margin-top: 5px;
}
  